In [1]:
!pip install yfinance --upgrade --no-cache-dir
import yfinance as yf

Requirement already up-to-date: yfinance in c:\users\kalju\anaconda3\lib\site-packages (0.1.54)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\users\kalju\anaconda3\lib\site-packages (from yfinance) (1.16.5)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in c:\users\kalju\anaconda3\lib\site-packages (from yfinance) (0.25.1)
Requirement already satisfied, skipping upgrade: requests>=2.20 in c:\users\kalju\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in c:\users\kalju\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\kalju\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\kalju\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\kalju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\kalju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\kalju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\kalju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\kalju\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)

**Download historical price data**
*   [Yfinance](https://pypi.org/project/yfinance/)

In [2]:
symbol = 'QQQ'

**Download Historical Price Data for Given Symbol**

In [3]:
data = yf.download(symbol, interval = '1mo', start="2011-03-01", end="2020-08-01")
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-03-01,58.020000,58.369999,53.770000,57.430000,52.002560,1.729243e+09
2011-03-18,NaN,NaN,NaN,NaN,NaN,NaN
2011-04-01,57.720001,59.290001,55.320000,59.080002,53.572109,1.032891e+09
2011-05-01,59.169998,59.340000,56.470001,58.360001,52.919212,1.054622e+09
2011-06-01,58.220001,58.360001,53.619999,57.049999,51.731358,1.155628e+09

In [4]:
clean_df = data.dropna()
clean_df.head(20)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-03-01,58.020000,58.369999,53.770000,57.430000,52.002560,1.729243e+09
2011-04-01,57.720001,59.290001,55.320000,59.080002,53.572109,1.032891e+09
2011-05-01,59.169998,59.340000,56.470001,58.360001,52.919212,1.054622e+09
2011-06-01,58.220001,58.360001,53.619999,57.049999,51.731358,1.155628e+09
2011-07-01,57.080002,59.830002,56.869999,58.000000,52.710716,1.277418e+09
2011-08-01,58.700001,58.820000,49.930000,55.060001,50.038830,2.526146e+09
2011-09-01,55.200001,57.349998,51.910000,52.490002,47.703201,1.666878e+09
2011-10-01,52.020000,59.200001,50.099998,57.950001,52.762955,1.616785e+09
2011-11-01,56.520000,58.980000,52.869999,56.389999,51.342579,1.295070e+09
2011-12-01,56.380001,57.619999,54.169998,55.830002,50.832722,1.004362e+09
2012-01-01,56.910000,60.860001,56.560001,60.529999,55.322922,8.288839e+08
2012-02-01,60.880001,64.959999,60.660000,64.410004,58.869160,1.018602e+09
2012-03-01,64.650002,68.510002,63.230000,67.550003,61.739037,1.070054e+09
2012-04-01,67.480003,68.550003,64.449997,66.760002,61.120579,1.056185e+09
2012-05-01,66.690002,67.629997,60.759998,62.060001,56.817600,1.300329e+09
2012-06-01,60.939999,64.570000,60.040001,64.160004,58.740215,9.738152e+08
2012-07-01,64.250000,65.309998,61.860001,64.800003,59.462509,8.608051e+08
2012-08-01,65.260002,68.879997,63.910000,68.160004,62.545738,6.798662e+08
2012-09-01,68.029999,70.580002,67.419998,68.570000,62.921974,6.395219e+08
2012-10-01,68.900002,69.800003,64.650002,64.949997,59.770096,8.631242e+08

In [5]:
clean_df.to_csv('data/price_history_qqq.csv')